/*
    Main
*/

h2 {
    font-size: 32px;
    font-weight: bold;
}

/*
    Body
*/
body {
    padding-top: 51px;
    margin-bottom: 0px;
}

/*
    Navbar
*/
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #1976D2;
}

.navbar-inverse {
    background-color: #1976D2;
    border-color: #1976D2;
}

button.navbar-toggle {
    background: #2b2b2b;
    border: none;
    color: #fff;
}

.navbar-inverse .navbar-brand {
  color: #ffffff;
}

.navbar-inverse .navbar-nav>li>a {
  color: #ffffff;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #1976d2;
}

.navbar .nav > li > a {
    /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-size: 14px;
}

/*
    Header
*/

.index-masthead {
    position: relative;
    padding: 80px 0px;
    color: #fff;
    text-align: center;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    background-color: #2196f3;
    height: 400px;
}

.index-masthead h1 a {
    text-align:center;
    font-size: 40px;
    color:#fff;
    font-weight: 800;
}

.index-masthead h1 a:hover {
    text-decoration: none;
}

.index-masthead .line-spacer {
    width: 20%;
    margin: 20px auto;
    border-bottom:1px solid #fff;
}

.index-masthead p span {
    color:#fff;
    font-size: 24px;
    text-align:center;
}

/*
    Main
*/

#content {
    padding-bottom: 20px;
}

/*
    Sections
*/

.section-header{
    margin-bottom: 70px;
}

.section-header h2 {
    font-size: 38px;
    text-transform: uppercase;
    font-weight: bold;
}

.index-section{
    text-align: center;
    line-height: 1.6em;
    padding: 90px 0px 0px;
}

.big-section{
    padding: 90px 0px 150px;
}

#spacer{
    background-color: #B6B6B6;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    padding: 50px 0px 50px;
    font-size: 21px;
}

#spacer a:hover {
    text-decoration: none;
}

#spacer a {
color: #fff;
}


.companies-list{
    margin-left:40px;
    list-style: none;
    width: 100%;
    margin: 0 auto;
}
.companies-list li{
    float: left;
    margin: 10px;
    position: relative;
}
.companies-list li > a,
.companies-list li > a img{
    display: block;
}
.companies-list img {
    max-width: 150px;
}

/*
    Download
*/
section#download .btn {
    width: 100%;
}

section#download .row{
    padding-bottom: 10px;
}



/*
    Footeer
*/
footer {
    background: #1976D2 none repeat scroll 0% 0%;
    color: #000;
    padding: 50px 0px 30px;
    text-align: center;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    line-height: 1.6em;
}

.footer-social a {
    color: #212121;
}

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */

     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/

 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }


 /*
    Tools
 */

.shadow {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.23), 0px 3px 10px rgba(0, 0, 0, 0.16);
}

.shadow-bottom {
    box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.23), 0px 3px 10px rgba(0, 0, 0, 0.16);
}

.btn-primary {
    background-color: #1976D2;
}

.btn-180 {
    width: 180px;
}

pre {
    /*background-color: #232323 !important;*/
    border-radius: 5px;
    /*color: #FFF;*/
    padding: 10px;
    background-color: #F5F5F5 !important;
    border: 1px solid #CCC !important;
}

.pad-bot-20 {
    padding-bottom: 20px;
}

.pad-bot-10 {
    padding-bottom: 10px;
}

.block-hidden {
    visibility: hidden;
}

@media (max-width:767px){
    .block-hidden {
        visibility: visible;
        display: none;
    }
}